.lyftbanna-content p {
  text-align: center;
  font-size: 2.5rem;
  color: var(--dark-grey);
}

.lyftbanna-content .lyftbanna-b {
  text-align: center;
}
.lyftbanna-img {
  margin: 1rem 0 3rem 0;
}
.lyftbanna-img img {
  /* border-radius: 50%; */
  width: 100px;
}
.lyftbanna-content-text {
  padding: 3rem 0 0 0;
}
.lyftbanna-content-text p {
  /* padding: 0 2rem 2rem 2rem; */
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--dark-grey);
}
.lyftbanna-card {
  width: 97%;
  height: 350px;
  border-radius: 25px !important;
  /* margin: 2rem auto; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .lyftbanna-card {
    width: 400px;
    margin: 2rem auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .lyftbanna-card {
    width: 350px;
    /* margin: 2rem auto; */
    /* margin: 2rem 3rem !important; */
    /* padding: 0 2rem !important; */
    /* border: solid 2px var(--main-grey); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
  .lyftbanna-title h4 {
    font-size: 3rem;
    margin: 1.2rem 0 3rem 0;
  }
  .lyftbanna-b {
    display: flex;
  }
}
