.lyftbanna {
  padding: 4rem 0;
}
.lyftbanna-head {
  /* text-align: center;
  width: 100%;
  margin: 0 0 3rem 0; */
}
.home-slider-container {
  width: 100%;
  margin: 5rem auto 0 auto;
}
.slick-btn-container {
  /* margin: 0.5rem 0 0 0; */
}

.lyftbanna-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimony-chev {
  margin: 0 0.2rem;
}
.lyftbanna-small-font {
  /* font-size: var(--small-font);
  color: var(--primary-color); */
}
.lyftbanna-medium-font {
  font-size: var(--medium-font);
  color: var(--dark-grey);
}

/***** TABLET *****/
@media screen and (min-width: 768px) {
  .lyftbanna-head {
    /* text-align: center;
    width: 400px;
    margin: 0 auto 3rem auto; */
  }
  .lyftbanna-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-slider-container {
    width: 98%;
    margin: 7rem auto 0 auto;
  }
  .slick-btn-container {
    /* margin: 1rem 15rem 0 0; */
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .lyftbanna-head {
    /* text-align: center;
    width: 500px;
    margin: 0 auto 3rem auto; */
  }
  .lyftbanna-title-flex {
    display: flex;
    max-width: 130rem;
    margin: 0 auto;
  }
  .lyftbanna-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-slider-container {
    width: 100%;
    /* max-width: 150rem; */
    margin: 0 auto;
    /* margin: 8rem auto 0 auto; */
  }
  .slick-btn-container {
    /* margin: 1rem 33rem 0 0; */
  }
  .property-slide {
    padding: 3rem 0;
  }
  .one-slide {
    padding: 0.5rem;
    /* height: 270px; */
  }
  .lyft-chev-btn {
    /* border: solid 2px var(--main-black); */
    color: var(--main-white);
    background-color: var(--primary-color);
    padding: 1rem 1rem 0.8rem 1rem;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 3rem;
  }
  .lyft-chev {
    /* border: solid 2px var(--main-black); */
    border: none;
    color: var(--main-black);
    background-color: transparent;
    padding: 1rem 1rem 0.8rem 1rem;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 3rem;
  }
}
