.navbar-main-links {
  display: flex;
  align-items: center;
  display: none;
}

.navbar-btn-icon {
  font-size: 2rem;
  color: var(--main-black) !important;
}
.navbar-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style: none;
}
.navbar-links li {
  border-left: solid 2px var(--main-grey);
}
.navbar-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--main-black) !important;
  transition: var(--mainTransition);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-align: left;
}
/* FOR THE SIGN-OUT BUTTON COLOR CHANGE */
.navbar-signout {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--main-white);
  transition: var(--mainTransition);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  text-align: left;
  background: none;
  box-shadow: var(--main-shadow);
  border: none;
}

.navbar-signout-color {
  color: var(--main-black) !important;
}
/* LAPTOP */
@media (min-width: 993px) {
  .navbar-links {
    height: auto;
    display: flex;
  }
  .navbar-links a {
    margin: 0 2rem;
    /* padding: 0.5rem 0; */
    padding: 4rem 2rem;
    font-weight: bolder;
    font-size: 1.8rem;

    color: var(--main-black) !important;
  }
  .navbar-single-color {
    color: var(--main-black) !important;
  }
  .navbar-main-links {
    display: flex;
    align-items: center;
  }
  .make-payment-link {
    padding: 0 3rem;
  }
  .navbar-links-getstarted {
    margin: 0 0 0 4rem;
  }
  .navbar-links-getstarted a {
    font-size: 1.3rem;
  }
  .navbar-links-buttons {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
  .navbar-item-button a {
    color: var(--main-black) !important;
    text-decoration: none;
    text-transform: uppercase;
  }
  .input-with-icon {
    position: relative;
  }
  .search-icon {
    color: var(--main-black) !important;
  }
  .circle-icon {
    color: var(--main-black) !important;
  }
  .input-with-icon .search-icon {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0 2rem;
    /* padding: 9px 16px; */
  }

  .input-with-icon input[type="text"] {
    padding-left: 45px;
    width: 100%;
  }
  input[type="text"],
  input[type="email"] {
    padding: 1.5rem 13rem;
    /* background-color: var(--darkGrey); */
    border-radius: 0.8rem;
    border: solid 2px var(--main-grey);
    color: var(--main-black);
    font-size: 2rem;
    width: 300px;
  }
  .input-with-icon .circle-icon {
    position: absolute;
    top: 20px;
    left: 0;
    /* background-color: var(--main-black) !important; */
    color: #de00a6 !important;
    margin: 0 2rem;
    /* padding: 9px 16px; */
    /* font-size: 3rem; */
  }
  .form-div {
    margin: 0 5rem 0 0;
  }
}
/* IPHONE */
@media (max-width: 600px) {
}
/* TABLET */
@media screen and (min-width: 768px) {
  .make-payment-link {
    /* padding: 0 0rem; */
  }
}
/* IPAD */
@media (max-width: 992px) {
  .make-payment-link {
    padding: 0 0rem;
  }
}
