#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrapper {
  padding-bottom: 316px;
}
.main-content {
  padding: 0 2rem;
}
.main-content-alt {
  padding: 0 2rem;
  background-color: rgb(235, 235, 255);
}
.main-content-container {
  /* max-width: 117rem; */
  max-width: 130rem;
  margin: 0 auto;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 316px; /*Footer height*/
  padding: 0 2rem;
}
